<% content_for :title, "Editing solicitacao" %>

<h1>Editing solicitacao</h1>

<%= render "form", solicitacao: @solicitacao %>

<br>

<%= link_to "Voltar para suas solicitações", minhas_solicitacoes_path, class: "btn btn-link" %>
