<% content_for :title, "Editing corretor" %>

<h1>Editing corretor</h1>

<%= render "form", corretor: @corretor %>

<br>

<div>
  <%= link_to "Show this corretor", @corretor %> |
  <%= link_to "Back to corretors", corretors_path %>
</div>
