<p style="color: green"><%= notice %></p>

<% content_for :title, "Corretores" %>

<h1>Corretores</h1>

<div id="corretores">
  <% @corretores.each do |corretor| %>
    <%= render corretor %>
    <p>
      <%= link_to "Show this corretor", corretor %>
    </p>
  <% end %>
</div>